/* ACCOMODATIONS */

.accom {
  background-color: var(--color-4);

  padding-top: 12.8rem;
  padding-bottom: 12.8rem;

  position: relative;
}

.accom::after {
  content: "";
  position: absolute;
  background-image: url(../imgs/separator/cloud.svg);
  background-repeat: repeat-x;
  object-fit: cover;
  height: 3rem;
  width: 100%;
  left: 0;
  bottom: -1.5rem;
  z-index: 99;
}

.accom-title {
  font-size: var(--font-size-18);
  font-family: var(--font-4);
  font-weight: 500;

  color: var(--color-2);

  text-align: center;
  line-height: 1;
  margin-bottom: 2rem;
}

.accom-title__small {
  font-size: var(--font-size-12);
  font-family: var(--font-3);

  color: var(--color-1);

  text-align: center;

  margin-bottom: 11.8rem;
}

/* CARDS */

.card {
  background-color: var(--color-3);
  margin-top: 9.6rem;
  box-shadow: var(--shadow-1);
}

.card:not(:last-child) {
  margin-bottom: 9.6rem;
}

.card-box {
  display: grid;
  grid-template-rows: 2fr 0.5fr;

  /* max-height: 74.7rem; */

  padding: 4rem 6rem;
}

.card-info {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  margin-bottom: 2rem;

  position: relative;
}

.card-info-middle {
  display: grid;
  grid-template-columns: 1fr 1.5fr;

  margin-bottom: 2rem;

  position: relative;
}

.card-photo {
  width: 100%;
  height: 100%;
}

/* STUFF RELATED TO ICONS AND ACCOM DETAILS */
.card-info__box {
  display: flex;
  align-items: end;
}

.card-info__details {
  display: flex;
  align-items: end;
}

.card-info__iconstexts {
  display: flex;
  gap: 4rem;
  margin-left: 3rem;

  list-style: none;
}

.card-info__icontext {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.card-info__text {
  font-family: var(--font-2);
  font-size: var(--font-size-5);
}

.card-icon {
  width: 4rem;
  height: 4rem;
}

/* THIS IS FOR CARD RESERVATION BOX, call to action and title/short desc */
.card-reservation-box {
  width: 54rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 6rem;
  background-color: var(--color-4);
  border-radius: 1rem;

  position: absolute;
  top: 5%;
  right: -2.5%;
}

.card-reservation-box__middle {
  width: 54rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 6rem;
  background-color: var(--color-4);
  border-radius: 1rem;

  position: absolute;
  top: 5%;
  left: -2.5%;
}

/* card titles box */
.card-titles {
  position: relative;
}

.card-title {
  font-family: var(--font-4);
  color: var(--color-2);
  font-size: var(--font-size-18);
  font-weight: 500;
}

.card-title-small {
  font-weight: 400;
  font-family: var(--font-1);
  font-size: var(--font-size-13);
  font-style: italic;
  color: var(--color-3);
  position: absolute;
  top: -10%;
  left: 50%;
}

.card-title-small__middle {
  font-weight: 400;
  font-family: var(--font-1);
  font-size: var(--font-size-13);
  font-style: italic;
  color: var(--color-3);
  position: absolute;
  top: -15%;
  left: 27%;
}

.card-desc {
  font-family: var(--font-3);
  color: var(--color-1);
  font-size: var(--font-size-9);
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.card-reservation__btn {
  font-size: var(--font-size-8);
  font-family: var(--font-3);
  text-decoration: none;
  font-weight: 800;
  color: var(--color-3);
  background-color: var(--color-2);
  padding: 1rem 3rem;
  border-radius: 1rem;
  letter-spacing: 0.15rem;
}

/* ACCOM GALLERY */

/* so it doesn't overflow */
.accom-gallery {
  min-width: 100%;

  padding: 0 3rem;
}

.owl-accom .owl-stage .owl-item a img {
  width: 27.5rem;
  height: 17.5rem;
  object-fit: cover;
}

.owl-accom .owl-nav {
  position: relative;
}

.owl-accom .owl-nav .owl-next {
  position: absolute;
  bottom: 7rem;
  right: -5rem;
}

.owl-accom .owl-nav .owl-prev {
  position: absolute;
  bottom: 7rem;
  left: -5rem;
}

.owl-accom .owl-nav .owl-next,
.owl-accom .owl-nav .owl-prev {
  width: 4rem;
  height: 4rem;
}

.owl-accom .owl-nav .owl-next,
.owl-accom .owl-nav .owl-prev {
  background: none !important;
  outline: none !important;
  opacity: 1;
}

.owl-accom .owl-nav .owl-next:hover,
.owl-accom .owl-nav .owl-prev:hover {
  outline: none;
  transition: all 0.2s ease;
}

.mobile-reserve-btn {
  display: none;
}

/* RESPONSIVE DESIGN */
/* 1430px */
@media screen and (max-width: 1430px) {
  /* IMAGES AND NAVIGATION */
  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 22rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

/* 1340px */
@media screen and (max-width: 1340px) {
  .card-reservation-box {
    width: 53rem;
    height: 33rem;
  }
  .card-reservation-box__middle {
    width: 54rem;
    height: 33rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

/* 1250px */
@media screen and (max-width: 1250px) {
  .accom {
    padding-top: 0;
  }
  .card-info__text {
    font-size: var(--font-size-4);
  }
  .card-icon {
    width: 3rem;
    height: 3rem;
  }
  .card-box {
    padding: 3rem 5rem;
  }
  .accom-title {
    padding-top: 6.4rem;
  }
  .accom-title__small {
    margin-bottom: 5.9rem;
  }
  .owl-accom .owl-nav .owl-next {
    position: absolute;
    bottom: 9rem;
    right: -5rem;
  }

  .owl-accom .owl-nav .owl-prev {
    position: absolute;
    bottom: 9rem;
    left: -5rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

/* 1130px */
@media screen and (max-width: 1130px) {
  .card-reservation-box {
    width: 45rem;
    height: 28rem;
    /* padding: 2rem 6rem; */
  }

  .card-reservation-box__middle {
    width: 44rem;
    height: 28rem;
    /* padding: 2rem 6rem; */
  }

  .card-info__iconstexts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    row-gap: 1rem;
    margin-left: 1rem;
  }
  .card-info__text {
    font-size: var(--font-size-5);
  }
  .card-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  .card-info__box {
    justify-content: center;
    /* align-items: center; */
  }

  .card-title {
    font-size: var(--font-size-16);
  }

  .card-title-small {
    font-size: var(--font-size-11);
  }

  .card-title-small__middle {
    font-size: var(--font-size-11);
  }

  .card-desc {
    font-size: var(--font-size-6);
  }

  .card-reservation__btn {
    font-size: var(--font-size-6);
    padding: 1rem 3rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

@media screen and (max-width: 950px) {
  .card-photo {
    display: none;
  }
  .card-reservation-box {
    position: relative;
    width: 100%;
    height: 100%;
    inset: 0;
  }
  .card-reservation-box__middle {
    position: relative;
    width: 100%;
    height: 100%;
    inset: 0;
  }
  .card-info {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    margin-bottom: 0;
  }
  .card-info__iconstexts {
    display: flex;
  }
  .card-title {
    font-size: var(--font-size-19);
  }

  .card-title-small {
    font-size: var(--font-size-14);
  }

  .card-title-small__middle {
    font-size: var(--font-size-14);
  }

  .card-desc {
    font-size: var(--font-size-9);
  }

  .card-reservation__btn {
    font-size: var(--font-size-7);
    padding: 1rem 3rem;
  }
  .card-info__box {
    align-self: center;
    justify-self: center;
    align-items: center;
  }
  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 25rem;
    min-width: 100%;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

@media screen and (max-width: 850px) {
  .accom-title {
    font-size: var(--font-size-16);
  }

  .accom-title__small {
    font-size: var(--font-size-8);
    margin-bottom: 5rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

@media screen and (max-width: 750px) {
  .accom-title {
    font-size: var(--font-size-15);
  }

  .accom-title__small {
    font-size: var(--font-size-7);
    margin-bottom: 0;
  }
  .card-title {
    font-size: var(--font-size-16);
  }

  .card-title-small {
    font-size: var(--font-size-11);
  }

  .card-title-small__middle {
    font-size: var(--font-size-11);
  }

  .card-desc {
    font-size: var(--font-size-6);
  }

  .card-reservation__btn {
    font-size: var(--font-size-4);
    padding: 1rem 3rem;
  }

  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 21rem;
    min-width: 100%;
  }
  .card-info__iconstexts {
    column-gap: 7.5rem;
  }
  .card-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card-info__text {
    font-size: var(--font-size-4);
  }
  .card:not(:last-child) {
    margin-bottom: 4.8rem;
  }
  .card:not(:first-child) {
    margin-top: 4.8rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}

@media screen and (max-width: 620px) {
  .card-info {
    display: contents;
    margin-bottom: 0;
  }
  .accom-title {
    font-size: var(--font-size-15);
  }

  .accom-title__small {
    font-size: var(--font-size-7);
    margin-bottom: 0;
  }
  .card-title {
    font-size: var(--font-size-16);
  }

  .card-title-small {
    font-size: var(--font-size-11);
  }

  .card-title-small__middle {
    font-size: var(--font-size-11);
  }

  .card-desc {
    font-size: var(--font-size-6);
  }

  .card-reservation__btn {
    font-size: var(--font-size-4);
    padding: 1rem 3rem;
  }

  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 27rem;
    min-width: 100%;
  }
  .card-info__iconstexts {
    column-gap: 6rem;
    row-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-icon {
    width: 3rem;
    height: 3rem;
  }
  .card-info__text {
    font-size: var(--font-size-4);
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}
@media screen and (max-width: 600px) {
  .accom-title {
    font-size: var(--font-size-14);
  }

  .accom-title__small {
    font-size: var(--font-size-6);
    margin-bottom: 0;
  }
  .card-title {
    font-size: var(--font-size-13);
  }

  .card-title-small {
    font-size: var(--font-size-5);
  }

  .card-title-small__middle {
    font-size: var(--font-size-5);
  }

  .card-desc {
    font-size: var(--font-size-5);
  }

  .card-reservation__btn {
    font-size: var(--font-size-4);
    padding: 1rem 3rem;
  }

  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 27rem;
    min-width: 100%;
  }
  .card-info__iconstexts {
    column-gap: 6rem;
    row-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-icon {
    width: 3rem;
    height: 3rem;
  }
  .card-info__text {
    font-size: var(--font-size-4);
  }
  .owl-accom .owl-nav .owl-next {
    position: absolute;
    bottom: 11rem;
    right: -5rem;
  }

  .owl-accom .owl-nav .owl-prev {
    position: absolute;
    bottom: 11rem;
    left: -5rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.5rem;
    z-index: 99;
  }
}
@media screen and (max-width: 540px) {
  .card-info__iconstexts {
    column-gap: 4rem;
    row-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .owl-accom .owl-nav .owl-next {
    position: absolute;
    bottom: 11rem;
    right: 0;
  }

  .owl-accom .owl-nav .owl-prev {
    position: absolute;
    bottom: 11rem;
    left: 0;
  }
  .accom-gallery {
    padding: 0 1rem;
  }
  .card-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .accom-title {
    font-size: var(--font-size-12);
  }

  .accom-title__small {
    font-size: var(--font-size-5);
    margin-bottom: 0;
  }
  .card-title {
    font-size: var(--font-size-11);
  }

  .card-title-small {
    font-size: var(--font-size-4);
  }

  .card-title-small__middle {
    font-size: var(--font-size-4);
  }

  .card-desc {
    font-size: var(--font-size-4);
  }

  .card-reservation__btn {
    font-size: var(--font-size-3);
    padding: 0.8rem 2.4rem;
  }

  .card-reservation-box {
    padding: 1rem 2rem;
  }
  .card-reservation-box__middle {
    padding: 1rem 2rem;
  }
  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 22rem;
    min-width: 100%;
  }
  .owl-accom .owl-nav .owl-next {
    position: absolute;
    bottom: 9rem;
    right: 0;
  }

  .owl-accom .owl-nav .owl-prev {
    position: absolute;
    bottom: 9rem;
    left: 0;
  }
  .card-box {
    display: grid;
    grid-template-rows: 1fr;
    padding: 2rem 3rem;
  }
  .accom::after {
    left: 0;
    bottom: -1.7rem;
    z-index: 99;
  }
}

@media screen and (max-width: 420px) {
  .card-info__iconstexts {
    column-gap: 1rem;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding-bottom: 1rem;
    margin-top: -2rem;
  }
  .owl-accom .owl-nav .owl-next {
    position: absolute;
    bottom: 11rem;
    right: 0;
  }

  .owl-accom .owl-nav .owl-prev {
    position: absolute;
    bottom: 11rem;
    left: 0;
  }
  .accom-gallery {
    padding: 0 1rem;
  }
  .card-icon {
    width: 2.2rem;
    height: 2.2rem;
  }
  .accom-title {
    font-size: var(--font-size-12);
  }

  .accom-title__small {
    font-size: var(--font-size-4);
    margin-bottom: 0;
  }
  .card-title {
    font-size: var(--font-size-14);
    margin-top: 0.75rem;
  }

  .card-title-small {
    font-size: var(--font-size-4);
    top: 15%;
    left: 50%;
  }

  .card-title-small__middle {
    font-size: var(--font-size-4);
    top: 8%;
    left: 30%;
  }

  .card-desc {
    /* font-size: var(--font-size-2); */
    display: none;
  }

  .card-reservation__btn {
    font-size: var(--font-size-2);
    padding: 0.6rem 1.8rem;
  }
  .owl-accom .owl-stage .owl-item a img {
    width: 100%;
    height: 22rem;
    min-width: 100%;
  }
  .owl-accom .owl-nav .owl-next {
    position: absolute;
    bottom: 9rem;
    right: 0;
  }

  .owl-accom .owl-nav .owl-prev {
    position: absolute;
    bottom: 9rem;
    left: 0;
  }
  .card-box {
    display: grid;
    grid-template-rows: 1fr;
    padding: 2rem 2rem;
  }
  .card-reservation__btn {
    display: none;
  }
  .card-info {
    position: relative;
  }
  .card-reservation-box {
    width: 25rem;
    height: 6rem;
    padding: 1rem 2rem;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    transform: translateY(-3rem);
    z-index: 8;
  }
  .card-reservation-box__middle {
    width: 25rem;
    height: 6rem;
    padding: 1rem 2rem;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    transform: translateY(-3rem);
    z-index: 8;
    padding: 1rem 2rem;
  }
  .owl-accom {
    grid-row: 1;
  }
  .card-info__box {
    grid-row: 3;
  }
  .card-info__text {
    font-size: var(--font-size-3);
  }
  .card-info__icontext {
    gap: 0.5rem;
  }
  .middle-card-title {
    font-size: var(--font-size-13);
  }

  .mobile-reserve-btn {
    display: inline-block;
  }
  .card-info__details {
    position: relative;
  }
  .mobile-reserve-btn__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-reserve-btn::after {
    content: "FAÇA SUA RESERVA";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-3);
    font-family: var(--font-3);
    text-decoration: none;
    font-weight: 800;
    color: var(--color-3);
    background-color: var(--color-2);
    padding: 1rem 2rem;
    border-radius: 1rem;
    letter-spacing: 0.15rem;
    bottom: -4rem;
    left: 20%;
    z-index: 16;
  }
  .accom::after {
    left: 0;
    bottom: -2.1rem;
    z-index: 99;
  }
}
@media screen and (max-width: 350px) {
  .card-reservation-box {
    width: 20rem;
    height: 5rem;

    z-index: 8;
  }
  .card-reservation-box__middle {
    width: 20rem;
    height: 5rem;
  }
  .card-icon {
    width: 2rem;
    height: 2rem;
  }
  .card-info__text {
    font-size: var(--font-size-2);
  }
  .mobile-reserve-btn::after {
    font-size: var(--font-size-2);
    padding: 0.6rem 1.2rem;
    bottom: -3.4rem;
    left: 20%;
    z-index: 16;
  }
  .middle-card-title {
    font-size: var(--font-size-11);
  }
  .card-title-small__middle {
    font-size: var(--font-size-3);
    top: 10%;
    left: 30%;
  }
}

@media screen and (max-width: 300px) {
  .card-reservation-box {
    width: 15rem;
    height: 4rem;

    z-index: 8;
  }
  .card-reservation-box__middle {
    width: 15rem;
    height: 4rem;
  }
  .card-title {
    font-size: var(--font-size-12);
    margin-top: 0.75rem;
  }

  .card-title-small {
    font-size: var(--font-size-3);
    top: 15%;
    left: 50%;
  }

  .card-title-small__middle {
    font-size: var(--font-size-3);
    top: 8%;
    left: 30%;
  }
  .middle-card-title {
    font-size: var(--font-size-7);
  }
  .card-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .card-info__text {
    font-size: 0.8rem;
  }
  .card-title-small__middle {
    font-size: var(--font-size-2);
    top: 10%;
    left: 25%;
  }
}
