@font-face {
  font-family: "AlexBrush-Regular";
  src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica.ttc);
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url(../fonts/MinionPro-Regular.otf);
}

@font-face {
  font-family: "SukhumvitSet";
  src: url(../fonts/SukhumvitSet.ttc);
}
