.header {
  z-index: 988;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  /* background-size: cover; */
  z-index: 9999;
}

.main-nav-box {
  padding-bottom: 3rem;
  /* background-image: url(../imgs/nav/nav-background.svg); */
}

.main-nav-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../imgs/nav/nav-background.svg);
  height: 100%;
  opacity: 0.85;
  z-index: -5;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10rem;
  padding: 0 5rem 0 5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  list-style: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-1);
  font-weight: 600;
  font-size: var(--font-size-6);
  font-family: var(--font-1);
}

.nav-link__box {
  position: relative;
}

.nav-link {
  border-right: 0.2rem solid var(--color-2);
  padding: 0 1rem;
}

.nav-link__box:last-child a {
  border-right: 0;
  padding-left: 1rem;
}

/* Logo in navigation */
.nav-logo img {
  width: 20rem;
  height: 10rem;
}

/* Social links in nav Instagram and Facebook */
.nav-socials {
  display: flex;

  align-items: flex-start;
  gap: 1rem;
}
.nav-socials img {
  width: 3.6rem;
  height: 3.6rem;
}

/* MAKE NAV SMALLER ONCE YOU SCROLL */
.main-nav-box__scrolling {
  padding-bottom: 7.5rem;
}

.main-nav-box__scrolling::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../imgs/nav/nav-background.svg);
  opacity: 1;
  z-index: -5;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1340px) {
  .nav-socials img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .nav-link,
  .nav-link:link,
  .nav-link:visited {
    font-size: var(--font-size-4);
  }
  .nav-logo img {
    width: 15rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 1135px) {
  .nav-links {
    display: none;
  }
  .nav-socials {
    display: none;
  }
  .main-nav {
    justify-content: space-between;
  }
  .main-nav-box::before {
    display: none;
  }
}
