/* REVIEWS SECTION */

.reviews {
  background-color: var(--color-3);

  position: relative;
}

.reviews-centering__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12.8rem;
  margin-bottom: 5rem;
}

.reviews-title {
  font-size: var(--font-size-18);
  font-family: var(--font-4);
  font-weight: 400;
  color: var(--color-2);
  line-height: 1;
  margin-bottom: 2.5rem;
}

.reviews-text {
  font-size: var(--font-size-11);
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-1);
}

/* REVIEW CARD AND THE GALLERY */
.reviews-gallery__box {
  margin-bottom: 9.6rem;
}

.review-card {
  border-radius: 3rem;
  max-width: 43rem;

  position: relative;
}

.center-review__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-photo {
  /* position: absolute; */
  background: var(--color-3);
  transform: translateY(6rem);

  width: 16rem !important;
  height: 16rem !important;
  border-radius: 50%;
  border: 0.3rem solid var(--color-2);
  top: -9rem;
  left: 30%;
}

.review-info__box {
  padding: 7rem 6rem 4rem 6rem;
  background-color: var(--color-4);
  border-radius: 3rem;
}

.review-card__user {
  font-size: var(--font-size-12);
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-2);
  margin-bottom: 0.5rem;

  position: relative;
}

.review-card__date {
  font-size: var(--font-size-8);
  font-family: var(--font-1);
  font-weight: 400;
  color: var(--color-2);
  margin-bottom: 1rem;
}

.review-card__text {
  font-size: var(--font-size-5);
  font-family: var(--font-2);
  font-weight: 800;
  color: var(--color-2);
}

/* GALLERY NAV */

.owl-reviews .owl-nav {
  position: relative;
}

.owl-reviews .owl-nav .owl-next {
  position: absolute;
  bottom: 25rem;
  right: -6.5rem;
}

.owl-reviews .owl-nav .owl-prev {
  position: absolute;
  bottom: 25rem;
  left: -6.5rem;
}

.owl-reviews .owl-nav .owl-next,
.owl-reviews .owl-nav .owl-prev {
  width: 5rem;
  height: 5rem;
}

.owl-reviews .owl-nav .owl-next,
.owl-reviews .owl-nav .owl-prev {
  background: none !important;
  outline: none !important;
  opacity: 1;
}

.owl-reviews .owl-nav .owl-next:hover,
.owl-reviews .owl-nav .owl-prev:hover {
  outline: none;
  transition: all 0.2s ease;
}

.owl-reviews .owl-nav {
  margin: 0;
}

/* make reservation */

.make-reservation::after {
  content: "FAÇA SUA RESERVA";
  position: absolute;

  background-color: var(--color-2);
  padding: 2rem 8rem;
  border-radius: 2rem;

  font-size: var(--font-size-11);
  font-family: var(--font-3);
  font-weight: 800;
  display: inline;
  color: var(--color-3);

  transform: translateX(-19.7rem);
  left: 50%;
  bottom: -14rem;
  z-index: 990;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1250px) {
  /* .review-info__box {
    padding: 7rem 9rem 4rem 9rem;
  } */
  .review-card {
    max-width: 100%;
  }
  .owl-reviews .owl-nav .owl-next {
    position: absolute;
    bottom: 25rem;
    right: 0;
  }

  .owl-reviews .owl-nav .owl-prev {
    position: absolute;
    bottom: 25rem;
    left: 0;
  }

  .owl-reviews .owl-nav .owl-next,
  .owl-reviews .owl-nav .owl-prev {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 1000px) {
  .owl-reviews .owl-nav .owl-next {
    position: absolute;
    bottom: 20rem;
    right: 0;
  }

  .owl-reviews .owl-nav .owl-prev {
    position: absolute;
    bottom: 20rem;
    left: 0;
  }

  .review-card {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .owl-reviews .owl-nav .owl-next {
    position: absolute;
    bottom: 25rem;
    right: 0;
  }

  .owl-reviews .owl-nav .owl-prev {
    position: absolute;
    bottom: 25rem;
    left: 0;
  }

  .review-card {
    max-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .reviews-title {
    font-size: var(--font-size-16);
  }

  .reviews-text {
    font-size: var(--font-size-10);
  }
}

@media screen and (max-width: 800px) {
  .make-reservation::after {
    content: "FAÇA SUA RESERVA";
    position: absolute;

    padding: 1.6rem 4rem;
    border-radius: 2rem;

    font-size: var(--font-size-7);

    transform: translateX(-12.4rem);
    left: 50%;
    bottom: -13rem;
    z-index: 990;
  }
  .review-card__user {
    font-size: var(--font-size-13);
  }

  .review-card__date {
    font-size: var(--font-size-9);
  }

  .review-card__text {
    font-size: var(--font-size-6);
  }
}

@media screen and (max-width: 600px) {
  .make-reservation::after {
    content: "FAÇA SUA RESERVA";
    position: absolute;

    padding: 1.6rem 4rem;
    border-radius: 2rem;

    font-size: var(--font-size-4);

    transform: translateX(-9rem);
    left: 50%;
    bottom: -12.5rem;
    z-index: 990;
  }
  .review-card__user {
    font-size: var(--font-size-12);
  }

  .review-card__date {
    font-size: var(--font-size-8);
  }

  .review-card__text {
    font-size: var(--font-size-5);
  }
  .reviews-title {
    font-size: var(--font-size-14);
  }
  .reviews-text {
    font-size: var(--font-size-5);
  }
  .review-photo {
    width: 14rem !important;
    height: 14rem !important;
  }
  .reviews-centering__box {
    margin-top: 6.4rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .review-card__user {
    font-size: var(--font-size-10);
  }

  .review-card__date {
    font-size: var(--font-size-6);
  }

  .review-card__text {
    font-size: var(--font-size-3);
  }
  .reviews-title {
    font-size: var(--font-size-11);
  }
  .reviews-text {
    font-size: var(--font-size-4);
  }
  .review-photo {
    width: 12rem !important;
    height: 12rem !important;
  }
  .make-reservation::after {
    content: "FAÇA SUA RESERVA";
    position: absolute;
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: var(--font-size-5);
    transform: translateX(-9rem);
    left: 20rem;
    bottom: -12rem;
    z-index: 990;
  }
}
